<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 16px;
    border: 2px solid darkgray;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
  }

  .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .card-title .eliminar {
    background-color: brown;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
  }

  .editar {
    position: absolute;
    bottom: 0;
    background-color: blue;
    color: white;
    right: 0;
  }

  .agregar-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    border: 2px solid blueviolet;
    padding: 15px;
    justify-content: space-around;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Reseñas</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div *ngFor="let item of lista" class="card-container">
    <div class="card-title">
      <h3>{{item.isbn}}</h3>
      <div>
        <img [src]="'./assets/estrellas'+item.estrellas+'.png'" style="height: 50px;" />
      </div>
      <button class="eliminar" (click)="deleteitem(item)">X</button>
    </div>
    <div>
      {{item.comentario}}
    </div>
    <button class="editar" (click)="editar(item)">Editar</button>
  </div>
  <div class="agregar-container">
    <label for="isbn">isbn</label>
    <input id="isbn" #isbnbyid name="isbn" type="text" [(ngModel)]="isbn" (ngModelChange)="isbn = $event">

    <label for="estrellas">estrellas</label>
    <input type="number" max="5" min="0" [(ngModel)]="stars" (ngModelChange)="stars = $event">

    <label for="comentario">comentario</label>
    <input type="text" [(ngModel)]="comentario" (ngModelChange)="comentario = $event">

    <button (click)="sendreview()">Enviar</button>
  </div>

</div>





<router-outlet></router-outlet>