<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />

  <h1 (click)="SetState('inicio')" [ngClass]="'name-page'+(state == 'inicio'?' select':'')">
    LIBRARY STORE</h1>

  <div class="toolbar-right">
    <div style="margin-right: 15px;">
      <mat-icon>account_circle</mat-icon>
      <mat-form-field style="max-width: 150px;" appearance="fill">
        <mat-label>usuario</mat-label>
        <input matInput placeholder="student" [value]="usuario" [(ngModel)]="usuario"
          (ngModelChange)="usuario = $event">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="ChangeUser()">Ingresar</button>
    </div>

    <div [ngClass]="'carrito-div'+(state == 'carrito'?' select':'')" (click)="SetState('carrito')">
      <mat-icon style="height: 40px;width: 40px;font-size: 40px;">shopping_cart</mat-icon>
      Carrito({{GetTotal()}})
    </div>

  </div>

</div>

<div class="content">

  <div class="content-card" *ngIf="state == 'inicio'">
    <div class="card" *ngFor="let item of libros">
      <span class="title">{{item.titulo}}</span>
      <br>
      <span class="author">{{item.autor}}</span>
      <br>
      <div style="display: inline-flex; align-items: center; justify-content: space-between;">
        <img [src]="'./assets/estrellas'+round(GetMeanStars(item.isbn))+'.png'" width="80%">
        <span>{{GetMeanStars(item.isbn)}}</span>
        <span>({{CountReviews(item.isbn)}})</span>
      </div>
      <br>
      <span class="price">${{item.valor}}</span>
      <br>
      <button class="add-carrito" (click)="onclickAddCart(item.isbn)">
        Agregar al carrito</button>
      <button class="btn-details" (click)="detalle(item)">Ver Detalle</button>
    </div>
  </div>


  <app-details [isShow]="ShowDetails" [data]="detailsData" [libro]="currentLibro" (onAddCart)="onclickAddCart($event)"
    style="width: 100%;">
    <div class="regresar-btn" (click)="SetState('inicio')">
      <mat-icon>keyboard_backspace</mat-icon>
      Regresar
    </div>
  </app-details>

  <div class="content-card-carrito" *ngIf="state == 'carrito'">
    <div class="regresar-btn" (click)="SetState('inicio')">
      <mat-icon>keyboard_backspace</mat-icon>
      Regresar
    </div>
    <br>
    <div class="card card-carrito" *ngFor="let isbn of KeysObjet(carrito)">
      <div>
        <span class="title">{{ carrito[isbn].libro.titulo }}</span>
        <br>
        <span class="author">{{ carrito[isbn].libro.autor }}</span>
      </div>

      <div style="display: inline-flex;">
        <mat-form-field appearance="fill" style="background-color: lightslategray;max-width: 100px;">
          <mat-label style="color: black;">Cantidad</mat-label>
          <mat-select [(value)]="carrito[isbn].cant" (selectionChange)="onCantChange($event,isbn)">
            <mat-option *ngFor="let a of [].constructor(carrito[isbn].libro.unidades-1); let i = index" [value]="i+1">
              {{i+1}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="eliminar" (click)="deletecart(isbn)">X</div>
      </div>

    </div>

    <button mat-raised-button [ngClass]="'btn-comprar'+(this.sendDataCarrito?' disabled':'')" (click)="Comprar()" [disabled]="this.sendDataCarrito">
        <span *ngIf="!this.sendDataCarrito">Comprar</span>
        <span *ngIf="this.sendDataCarrito">Enviando...</span>
        <mat-spinner *ngIf="this.sendDataCarrito" class="loading"></mat-spinner>
    </button>
  </div>
</div>

<router-outlet></router-outlet>