.toolbar {
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #d26b19;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.name-page{
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  margin: 0;
}
.name-page.select{
  color: white;
}
.name-page:hover {
  background-color: #4c4c4c;
  border-radius: 5px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
.content-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-card-carrito{
  display: flex;
  flex-direction: column;
  
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.regresar-btn{
  cursor: pointer;
  border-radius: 5px;
  max-width: 100px;
  padding: 7px;
  display: inline-flex;
  background-color: #999999;
}
.regresar-btn:hover{
  background-color: #4c4c4c;
}

.title{
  font-size: 2em;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
.author{
  color: #888;
}
.eliminar {
  background-color: brown;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.eliminar:hover{
  cursor: pointer;
}

.add-carrito{
  border: 1px solid gray;
  border-radius: 3px;
  background-color: yellowgreen;
  padding: 10px;
}
.add-carrito:hover{
  background-color: rgb(100, 133, 34);
  cursor: pointer;
}

.carrito-div{
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 25px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}
.carrito-div.select{
  color: white;
}
.carrito-div:hover {
  background-color: #4c4c4c;
  border-radius: 5px;
  color: white;
}
.carrito-div:hover *{
  color: white;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
.card-carrito{
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar-right{
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-details{
  margin-top: 10px;
  border: 1px solid orange;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
}
.btn-details:hover{
  background-color: rgb(223, 209, 14);
  cursor: pointer;
}
.btn-comprar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-comprar.disabled{
  background-color: #424242;
}
.loading{
  width: 45px !important;
  height: 45px !important;
}
