<style>
    .card-title {
        display: inline-flex;
        width: 100%;
    }

    .card-title div,
    .card-title img,
    .card-title h3 {
        padding-right: 15px;
    }

    .author-span {
        color: orange;
    }

    .content-descrip {
        padding-bottom: 20px;
    }

    .top-tittle h1 {
        margin-bottom: 0;
    }

    .top-tittle {
        margin-bottom: 10px;
    }

    .content-comment {
        padding-left: 10px;
        padding-right: 10px;
    }

    .comment {
        margin-top: 10px;
        padding-top: 5px;
    }

    .add-carrito {
        border: 1px solid gray;
        border-radius: 3px;
        background-color: yellowgreen;
        padding: 10px;
    }

    .add-carrito:hover {
        background-color: rgb(100, 133, 34);
        cursor: pointer;
    }

    .div-tittle-addcart {
        display: flex;
        justify-content: space-between;
    }
</style>
<div [hidden]="!isShow">
    <ng-content></ng-content>
    <div class="top-tittle">
        <h1>{{libro.titulo}}</h1>
        <div class="div-tittle-addcart">
            <span class="author-span">{{libro.autor}}</span>
            <button class="add-carrito" (click)="EmmitAddCart()">Agregar al carrito</button>
        </div>
    </div>

    <div class="content-descrip">
        <h2>Reseña</h2>
        <span>{{libro.descripcion}}</span>
    </div>

    <h1>Opiniones del libro</h1>
    <div class="content-comment">
        <div *ngFor="let item of data" class="comment">
            <div class="card-title">
                <img src="./assets/user.png" width="35px" height="35px">
                <h3>{{item.usuario}}</h3>
                <div>
                    <img [src]="'./assets/estrellas'+item.estrellas+'.png'" style="height: 50px;" />
                </div>
            </div>
            <div>
                "{{item.comentario}}"
            </div>
        </div>
    </div>

    <h3 *ngIf="data.length == 0">Ningun comentario</h3>
    <div>