.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 16px;
  border: 2px solid darkgray;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.card-title .eliminar {
  background-color: brown;
  color: white;
  position: absolute;
  right: 0;
  top: -10px;
  left: 0;
}

.editar {
  position: absolute;
  bottom: 0;
  background-color: blue;
  color: white;
  right: 0;
}

.agregar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  border: 2px solid blueviolet;
  padding: 15px;
  justify-content: space-around;
}
.valor{
  color: green;
}

.name-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 250px;
}
.name-container p{
  margin: 0;
}